.container {
  margin: 2.1875rem;
  height: 100vh;

  .header {
    img {
      max-width: 100%;

      @include breakpoint-down(small) {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 15vh;
        margin-bottom: auto;
        border-bottom: solid $greyBorder 0.5rem;
      }
    }
  }

  .title {
    font-size: 3rem;
    padding-top: 4.125rem;
    padding-bottom: 1.5rem;

    @include breakpoint-down(large) {
      text-align: center;
    }

    @include breakpoint-down(small) {
      padding-top: 5rem;
      font-size: 1.5rem;
    }

    @include breakpoint-down(mobile) {
      position: absolute;
      justify-content: center;
      top: 13%;
      left: 20%;
      padding-top: 3rem;
      z-index: 3;
    }
  }

  .products {
    position: relative;
    background: $greyBorder;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;

    @include breakpoint-down(small) {
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    }

    @include breakpoint-down(mobile) {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      margin-top: 7em;
      padding-top: 50px;
    }
  }
  .item-container {
    height: 100%;
    background: #ffff;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 340px;
    margin: auto 0;

    .images {
      max-height: 100%;
      max-width: 100%;
      align-self: center;

      @include breakpoint-down(mobile) {
        padding: 12px 5px;
      }

      @include breakpoint-down(medium) {
        padding: 10px 5px;
      }

      @include breakpoint-down(ipad) {
        padding: 10px 3px;
      }
    }

    .copy-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: baseline;
      margin: auto 0;
      width: 100%;
      text-overflow: ellipsis;

      .item-name {
        display: flex;
        color: $adoramaBlue;
        font-size: 21px;
        margin: 17px 0 12px 0;
        height: 54px;
        max-width: 300px;
        flex-basis: 0 300px;

        @include breakpoint-down(mobile) {
          font-size: 16px;
        }
      }

      .price-container {
        .sale-price {
          font-size: 30px;
          color: #222222;
          padding-top: 0.2rem;
          padding-bottom: 0.7rem;

          @include breakpoint-down(mobile) {
            font-size: 26px;
          }
        }

        .list-price {
          font-size: 12px;
          text-decoration: line-through;
          color: $darkBlue;

          @include breakpoint-down(mobile) {
            font-size: 10px;
          }
        }
      }
    }
    button {
      background: $buttonColor;
      color: $white;
      grid-row: 3;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      // max-width: 340px;
      max-width: 100%;
      width: 340px;
      cursor: pointer;
      height: 42px;

      @include breakpoint-down(mobile) {
        width: 100%;
      }
    }

    button:active {
      background: $activeButton;
    }
  }
}
