//colors
$adoramaBlue: #006aad;
$greyBorder: #f3f3f3;
$lightOrange: #ffa229;
$darkOrange: #e38400;
$activeButton: #bd6f02;
$white: #fff;
$fontBlack: #222;
$darkBlue: #585c5f;

$buttonColor: linear-gradient($lightOrange, $darkOrange);
